body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 5%;
  justify-content: space-between ;
}

.wrapper img {
  width: 30%;
  padding: 1%;
}

.wrapper .info {
  width: 60%;
  padding: 1%;

}